# Librerias

In [2]:
# Limpieza

import pandas as pd
import numpy as np
import sys

# Visualizaci√≥n

import matplotlib.pyplot as plt
import seaborn as sns

# Preprocesamiento

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, minmax_scale

# Modelo 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.inspection import permutation_importance

In [3]:
sys.path.append(r"C:/Users/gabri/Documents/Proyecto_ML_2025/src/utils/")

from Funciones import k_optimo

In [4]:
# Importamos  df

df = pd.read_csv('C:/Users/gabri/Documents/Proyecto_ML_2025/data/processed/super_shop_dataset_limpio.csv')

In [5]:
# Mostramos dataset

df.head()

,product_id,category,sub_category,brand,product_name,price,discount,final_price,stock,sold_quantity,...,customer_gender,customer_type,payment_method,transaction_id,order_status,delivery_time,return_status,employee_id,shift,feedback
0,P1000,Toys,Chairs,Nike,Item_D,2684,23,2066.68,192,21,...,Male,Regular,Mobile Payment,T50000,Pending,2,Not Returned,801,Morning,Average
1,P1001,Clothing,Vegetables,Samsung,Item_A,2704,15,2298.40,21,62,...,Female,Regular,Credit Card,T50001,Completed,12,Not Returned,173,Evening,Good
2,P1002,Toys,Vegetables,Apple,Item_C,3173,6,2982.62,66,11,...,Male,New,Credit Card,T50002,Pending,7,Returned,974,Evening,Average
3,P1003,Furniture,Laptop,Sony,Item_D,4320,26,3196.80,180,9,...,Male,VIP,Credit Card,T50003,Cancelled,13,Not Returned,206,Morning,Good
4,P1004,Furniture,Shirt,Samsung,Item_B,2557,34,1687.62,81,73,...,Female,Regular,Mobile Payment,T50004,Pending,11,Returned,994,Evening,Good

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report


le = LabelEncoder()
for col in df.select_dtypes('object'):
    df[col] = le.fit_transform(df[col])

# Separar caracter√≠sticas (X) y variable objetivo (y)
X = df.drop(columns=["return_status"])  # Cambia "return_status" por la etiqueta correcta
y = df["return_status"]

# Normalizar (SVM necesita que los datos est√©n en la misma escala)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Dividir en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42, stratify=y)

In [7]:
# Definir el modelo SVM con kernel RBF
svm = SVC(kernel="rbf", C=1, gamma="scale", random_state=42)

# Entrenar el modelo
svm.fit(X_train, y_train)

# Predicci√≥n y evaluaci√≥n
y_pred = svm.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print(f"Exactitud del modelo SVM: {accuracy:.4f}")
print(classification_report(y_test, y_pred))

Exactitud del modelo SVM: 0.4950
              precision    recall  f1-score   support

           0       0.49      0.45      0.47       493
           1       0.50      0.54      0.52       507

    accuracy                           0.49      1000
   macro avg       0.49      0.49      0.49      1000
weighted avg       0.49      0.49      0.49      1000